extends layout

block content
  .text-center
      h1="MyBackup"
      p="Por favor, inicie sesión"
      a.btn.btn-primary( href=loginUrl ) Ingresar con Facebook
      a.btn.btn-primary( href=rss ) Ingresar 
